@charset "UTF-8";
* {
  margin: 0%;
  padding: 0%;
}

p {
  font-family: "Poppins", sans-serif;
}

.img-principal {
  display: flex !important;
  position: relative;
  padding: 5px;
}
.img-principal .img-male {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
}

.titulo-bienvenida {
  display: flex;
  color: #30878c;
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 0%;
}

/*SEGUNDO TEXTO PRINCIPAL*/
.segundo-texto {
  display: flex;
  position: relative;
  margin-left: 45%;
  margin-right: 25%;
  top: -480px;
  left: 190px;
}

/*MENU DE NAVEGACIÓN*/
.navbar {
  background-color: #B8E0DB !important;
  display: inline-block;
  font-family: "Inter", sans-serif;
  padding: 1rem;
  width: 100%;
  height: 105px;
  justify-content: center;
  gap: 30px;
}
.navbar .navbar-toggler {
  color: #30878c;
}

/*SCSS de Registro*/
.container-registro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 20px;
  min-height: 100vh;
  gap: 20px;
}

/*TEXTO*/
.sidebar-text {
  color: #333;
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 5px;
  text-align: left;
  max-width: 300px;
}

.titulo-registro {
  display: block;
  color: #30878c;
  text-align: left;
  position: relative;
  top: -250px;
  left: -100px;
}

.texto-inicio-registro {
  display: block;
  color: black;
  position: relative;
  top: -200px;
  left: -310px;
}

.texto-registro {
  display: inline;
  color: black;
  position: relative;
  top: -110px;
  left: -800px;
  size: 20px;
}

/*FORMULARIO*/
/*inputs por texto*/
.form-block-element {
  display: block;
  width: 350px;
  height: 600px;
  padding: 20px;
  background-color: #036;
  color: white;
  margin: 10px;
  border: 3px #30878c solid;
  margin-left: 625px;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: -670px;
  margin-right: 40px;
  border-radius: 8px;
}

form label, form input, form button {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
  width: auto;
  height: auto;
  gap: 10px;
}

.input-texto {
  margin-bottom: 10px;
  margin-left: 60px;
  width: 200px;
  text-align: center;
}

/*OTROS INPUTS*/
.genero {
  display: block !important;
  margin: 5%;
}

.form-check-input {
  display: inline-block;
  margin-left: 80px;
}

/*labels*/
.genero {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 3px;
  margin-right: 4px;
  position: relative;
  text-align: left;
  right: 50px;
  left: -15px;
}

.genero-label {
  margin-left: -190px;
}

.suscribe {
  margin-left: -180px;
}

.terms {
  margin-left: -100px;
}

/*OTROS CHECKS*/
.form-check-2 {
  padding: 5px;
  margin-top: 10px;
}

.form-check-3 {
  margin-top: 5px;
  margin-left: 4px;
}

/*ENVIO*/
.envio {
  margin-top: 25px;
  background-color: rgb(65, 160, 238);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.envio:hover {
  background-color: #23d4c2;
}

/*GRILLA PORTAFOLIO*/
.grid-area {
  border: 2px solid black;
  margin: 35px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 300px);
  grid-template-areas: "primera primera segunda segunda" "primera primera segunda segunda" "tercera tercera segunda segunda";
  /*SECTORES DE LA GRILLA*/
  /*PRIMERA GRILLA*/
  /*SEGUNDA GRILLA*/
  /*TERCERA GRILLA*/
}
.grid-area .database-img {
  display: block;
  max-width: 100%;
  float: left;
  left: -60px;
  bottom: 700px;
}
.grid-area .texto-portafolio {
  display: inline;
  text-align: center;
  font-size: 14px;
}
.grid-area .primera {
  background-color: #f5f5f5;
  grid-area: primera;
  border: 2px solid;
}
.grid-area .titulo-mysql {
  text-decoration: none;
  text-align: center;
  color: black;
}
.grid-area .segunda {
  background-color: #f5f5f5;
  grid-area: segunda;
  border: 2px solid;
}
.grid-area .titulo-testing {
  text-decoration: none;
  text-align: center;
  color: black;
}
.grid-area .texto-testing {
  font-size: 14px;
  text-align: left;
}
.grid-area .lista-testing {
  font-size: 14px;
  list-style-type: disc black;
}
.grid-area .tercera {
  background-color: #f5f5f5;
  grid-area: tercera;
  border: 2px solid;
}
.grid-area .titulo-ux {
  text-decoration: none;
  text-align: center;
  color: black;
}
.grid-area .texto-ux {
  font-size: 14px;
}

/* CSS PORTAFOLIO*/
.titulo-portafolio {
  font-family: "Inter", sans-serif;
  color: #30878c;
}

.img-portafolio {
  color: black;
  text-decoration: none;
}

.footer {
  display: block;
  background-color: #001f3f;
  padding-bottom: 15px;
}
.footer p {
  font-family: "Poppins", sans-serif;
  color: white;
}
.footer a {
  text-decoration: none;
  color: white;
}
.footer li {
  list-style-type: none;
  display: inline;
  padding: 10px;
}

/*SCSS PROYECTOS*/
/*TITULO*/
.proyecto-area .titulo-proyectos {
  text-align: center;
  color: #30878c;
}
.proyecto-area body {
  font-family: Arial, sans-serif;
}
.proyecto-area .barra-filtro {
  width: 200px;
  padding: 20px;
  background-color: #036;
  border: 1px solid #d1d9e6;
  border-radius: 5px;
}
.proyecto-area .barra-filtro h3 {
  font-size: 16px;
  color: white;
  margin-bottom: 10px;
}
.proyecto-area .barra-filtro .search-bar {
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.proyecto-area .barra-filtro .filter-select {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #f7f7f7;
}
.proyecto-area .barra-filtro .filter-btn {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
}
.proyecto-area .barra-filtro .filter-btn:hover {
  background-color: #ddd;
}
.proyecto-area .barra-filtro .checkbox-group {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
}
.proyecto-area .barra-filtro .checkbox-group label {
  font-size: 14px;
  color: white;
  display: flex;
  align-items: center;
}
.proyecto-area .barra-filtro .checkbox-group label input[type=checkbox] {
  margin-right: 8px;
}

.proyecto-uno {
  background-color: #548DDC;
  display: flex;
  position: relative;
  flex-direction: column;
  left: 8cm;
  top: -13.3cm;
  width: 950px;
  height: 1875%;
  border: 2px solid black;
  border-radius: 5px;
  color: black;
  margin-bottom: 15px;
  justify-content: space-between;
}
.proyecto-uno .titulo-p1 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
  top: 2px;
  right: 15px;
  left: -15px;
}
.proyecto-uno .titulo-p1 a {
  text-decoration: none;
  color: rgb(10, 59, 83);
}
.proyecto-uno .p-proyectos {
  text-align: justify;
  top: 15px;
  bottom: 5px;
  font-family: Arial, Helvetica, sans-serif;
  white-space: normal;
  margin: 0;
  padding: 0;
}
.proyecto-uno .iconos {
  display: flex;
  gap: 10px;
  align-self: flex-end;
  margin-top: auto;
  margin-bottom: 10px;
}
.proyecto-uno .iconos .icono {
  font-size: 22px;
  cursor: pointer;
}

.proyecto-dos {
  background-color: #548DDC;
  display: flex;
  position: relative;
  flex-direction: column;
  left: 8cm;
  top: -13.3cm;
  width: 950px;
  height: 1875%;
  border: 2px solid black;
  border-radius: 5px;
  color: black;
  margin-bottom: 15px;
  justify-content: space-between;
}
.proyecto-dos .titulo-p2 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
  top: 2px;
  right: 15px;
  left: -15px;
}
.proyecto-dos .titulo-p2 a {
  text-decoration: none;
  color: rgb(10, 59, 83);
}
.proyecto-dos .p-proyectos {
  text-align: justify;
  top: 15px;
  bottom: 5px;
  font-family: Arial, Helvetica, sans-serif;
  white-space: normal;
  margin: 0;
  padding: 0;
}
.proyecto-dos .iconos {
  display: flex;
  gap: 10px;
  align-self: flex-end;
  margin-top: auto;
  margin-bottom: 10px;
}
.proyecto-dos .iconos .icono {
  font-size: 22px;
  cursor: pointer;
}

.proyecto-tres {
  background-color: #548DDC;
  display: flex;
  position: relative;
  flex-direction: column;
  left: 8cm;
  top: -13.3cm;
  width: 950px;
  height: 1875%;
  border: 2px solid black;
  border-radius: 5px;
  color: black;
  margin-bottom: 15px;
  justify-content: space-between;
}
.proyecto-tres .titulo-p3 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
  top: 2px;
  right: 15px;
  left: -15px;
}
.proyecto-tres .titulo-p3 a {
  text-decoration: none;
  color: rgb(10, 59, 83);
}
.proyecto-tres .p-proyectos {
  text-align: justify;
  top: 15px;
  bottom: 5px;
  font-family: Arial, Helvetica, sans-serif;
  white-space: normal;
  margin: 0;
  padding: 0;
}
.proyecto-tres .iconos {
  display: flex;
  gap: 10px;
  align-self: flex-end;
  margin-top: auto;
  margin-bottom: 10px;
}
.proyecto-tres .iconos .icono {
  font-size: 22px;
  cursor: pointer;
}

.proyecto-cuatro {
  background-color: #548DDC;
  display: flex;
  position: relative;
  flex-direction: column;
  left: 8cm;
  top: -13.3cm;
  width: 950px;
  height: 1875%;
  border: 2px solid black;
  border-radius: 5px;
  color: black;
  margin-bottom: 15px;
  justify-content: space-between;
}
.proyecto-cuatro .titulo-p4 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
  top: 2px;
  right: 15px;
  left: -15px;
}
.proyecto-cuatro .titulo-p4 a {
  text-decoration: none;
  color: rgb(10, 59, 83);
}
.proyecto-cuatro .p-proyectos {
  text-align: justify;
  top: 15px;
  bottom: 5px;
  font-family: Arial, Helvetica, sans-serif;
  white-space: normal;
  margin: 0;
  padding: 0;
}
.proyecto-cuatro .iconos {
  display: flex;
  gap: 10px;
  align-self: flex-end;
  margin-top: auto;
  margin-bottom: 10px;
}
.proyecto-cuatro .iconos .icono {
  font-size: 22px;
  cursor: pointer;
}

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contenedor {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  /* Reducción del tamaño del logo en pantallas pequeñas */
}
@media (max-width: 600px) {
  .contenedor .navbar {
    flex-direction: column;
  }
  .contenedor .navbar-toggler {
    display: flex;
  }
  .contenedor .img-principal {
    width: 50%;
  }
}
@media (max-width: 768px) {
  .contenedor .navbar-brand img {
    width: 120px; /* Ajusta según necesites */
    height: auto; /* Mantiene la proporción */
  }
}
@media (max-width: 900px) {
  .contenedor {
    padding: 15px;
    width: 90%;
  }
}
@media (min-width: 1200px) {
  .contenedor {
    padding: 30px;
    width: 80%;
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
@media (max-width: 600px) {
  img {
    width: 100%;
    max-width: 100%;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    padding: 10px 0;
  }
}
@media (max-width: 900px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
  }
}

.titulo {
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center;
}
@media (max-width: 600px) {
  .titulo {
    font-size: 1.5em;
    margin-bottom: 15px;
  }
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
button:hover {
  background-color: #0056b3;
}
@media (max-width: 600px) {
  button {
    width: 100%;
    padding: 12px;
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  button {
    padding: 14px 30px;
    font-size: 3em;
  }
}

/*# sourceMappingURL=style.css.map */
