*{margin: 0%;
    padding: 0%;}
    
    
    p{font-family: "Poppins", sans-serif;}

    body{
        overflow-x:hidden
        *{flex: 1;}
        flex-direction: column;

    }

    @import "./inicio/inicio";
    @import "./registro/registro";
    @import "./portafolio/portafolio";
    @import "./footer/footer";
    @import "./proyectos/proyecto.scss";  
    @import "./mediaq/mediaqueries.scss";