//SCSS INICIO

//IMAGEN
.img-principal{
    display: flex !important;
    position: relative;
    top: -100px;
    padding: 5px;
   margin-right: 0%;
   margin-bottom: 0%;
   margin-top: 10%;
   
}

//TITULO PRINCIPAL
.titulo-bienvenida{
    display: flex;
    color:#30878c;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 0%; }

/*SEGUNDO TEXTO PRINCIPAL*/
.segundo-texto{
    display: flex;
    position: relative;
    margin-left: 45%;
    margin-right: 25%;
    top: -480px;
    left: 190px;
}    

/*MENU DE NAVEGACIÓN*/
.navbar{
    background-color: #B8E0DB!important;
    font-family: "Inter", sans-serif;
    padding: 1rem;
    width: 100%;
    height: 105px;
    justify-content: center;
    gap: 30px;

  }