//SCSS FOOTER

.footer{display: block;
    background-color: #001f3f;  
    padding-bottom:  20px;
    
    

        p{font-family: "Poppins", sans-serif;
        color: white;}

        a{text-decoration:none;
            color: white;}
        li{
            list-style-type: none;
            display: inline;
            padding: 10px;
            
            }
            
        
        }